/* CSS Variables */

:root{
    --clr-bg-darkBlue: #1F2937;
    --clr-bg-mediumBlue: #273549;
    --clr-typo-main: #fff;
    --clr-typo-body: #D5D4D8;
    --clr-accent: #10B981;
    --clr-accent-border:#2F3E53;

    --font-size-large: 2.5rem;
    --font-size-medium: 1.25rem;
    --font-size-small: 1rem;

    --font-weight-heavy: 800;
    --font-weight-medium: 500;
    --font-weight-small: 400;

    --font-lineHeight-large: 2.5rem;
    --font-lineHeight-big: 2rem;
    --font-lineHeight-medium: 1.75rem;
    --font-lineHeight-small: 1.5rem;
}

* {
    box-sizing: border-box;
    font-family: 'inter';
}

